* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  color: #fff;
  font-family: RubikRegular, sans-serif;
  position: relative;
}
@media only screen and (max-width: 767px) {
  body {
    background: #231f20;
  }
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}
#fullPage {
  z-index: 2;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
h1 {
  font-size: 120px;
  font-family: RubikBold, sans-serif;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  h1 {
    font-size: 90px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 70px;
  }
}
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 45px;
  }
}
h3 {
  font-size: 75px;
  font-family: RubikMedium, sans-serif;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px) {
  h3 {
    font-size: 60px;
  }
}
@media only screen and (max-width: 767px) {
  h3 {
    font-size: 35px;
  }
}
h5 {
  font-size: 25px;
  font-family: RubikMedium, sans-serif;
}
@media only screen and (max-width: 767px) {
  h5 {
    font-size: 20px;
  }
}
p {
  font-size: 25px;
  margin-bottom: 30px;
  font-family: RubikLight, sams-serif;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px) {
  p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px) {
  p {
    font-size: 16px;
  }
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.note {
  font-size: 14px;
  color: #404040;
}
@media only screen and (max-width: 767px) {
  .note {
    font-size: 12px;
  }
}
.d-flex {
  display: flex;
  margin: 0 -5%;
}
@media only screen and (max-width: 767px) {
  .d-flex {
    flex-direction: column;
  }
}
.d-flex .item {
  padding: 0 5%;
  flex-basis: 50%;
}
@media only screen and (max-width: 767px) {
  .d-flex .item .img-wrap {
    padding-top: 50px;
  }
}
.columns {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 10%;
  -moz-column-gap: 10%;
  column-gap: 10%;
}
@media only screen and (max-width: 767px) {
  .columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
.section-top {
  font-size: 25px;
  text-transform: uppercase;
  padding: 0 100px 25px 0;
  position: relative;
  display: inline-block;
  margin-bottom: 125px;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px) {

  .section-top {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .section-top {
    font-size: 15px;
    padding: 0 0 15px;
    margin-bottom: 50px;
    display: block;
  }
}
.section-top:after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  width: 1000%;
  height: 9px;
  background: #404040;
}
@media only screen and (max-width: 767px) {
  .section-top:after {
    height: 4px;
    width: 100%;
  }
}
.section-top span {
  position: relative;
  display: block;
}
@media only screen and (max-width: 767px) {
  section {
    padding: 50px 0;
  }
}
@media only screen and (max-width: 767px) {
  section.section-1 {
    height: 100vh;
  }
}
section.section-1 .text-wrap {
  max-width: 70%;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  section.section-1 .text-wrap {
    max-width: 50%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  section.section-1 .text-wrap {
    max-width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  section.section-2 {
    height: 100vh;
  }
}
section.section-2 h3 {
  max-width: 70%;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  section.section-2 h3 {
    margin: 0;
    max-width: 50%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  section.section-2 h3 {
    max-width: 100%;
  }
}
section.section-2 .section-container {
  height: 100%;
}
section.section-2 .section-container .container {
  height: 100%;
}
section.section-2 .section-container .section-top {
  margin: 0;
}
section.section-2 .section-center-container {
  height: calc(100% - 54px);
  display: flex;
  align-items: center;
}
section.section-bg {
  position: relative;
}
section.section-bg .bg {
  height: 35vh;
  width: 35vh;
  position: absolute;
  right: 15%;
  top: 50%;
  transform: translateY(-50%);
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  section.section-bg .bg {
    right: 0;
    bottom: 20px;
    top: auto;
    transform: translateY(0);
  }
}
section.section-bg .bg path {
  opacity: 0;
  stroke-width: 1px;
  stroke: #404040;
  fill: none;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}
section .section-container {
  padding: 10% 0;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px) {
  section .section-container {
    padding: 50px 0;
  }
}
@media only screen and (max-width: 767px) {
  section .section-container {
    padding: 0;
  }
}
section .section-container.center {
  height: 100%;
  display: flex;
  align-items: center;
}
section .section-container.center .container {
  width: 100%;
}
section .section-container.center h1 {
  margin-bottom: 10%;
}
.text-wrap p a {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}
.text-wrap p:last-of-type {
  margin-bottom: 0;
}
@media only screen and (max-width: 767px) {
  .table-wrap {
    margin-top: 50px;
  }
}
.table-wrap table {
  border-collapse: collapse;
}
.table-wrap table tr td {
  font-size: 25px;
  padding: 5px 15px;
  font-family: RubikLight, sams-serif;
  border-bottom: 1px solid #414141;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .table-wrap table tr td {
    font-size: 14px;
  }
}
.table-wrap table tr td:first-child {
  color: #fff;
  text-transform: uppercase;
}
.table-wrap table tr td:last-child {
  color: #949494;
}
.img-wrap img {
  width: auto;
  height: auto;
  max-width: 100%;
}
.img-wrap #scheme .cls-1,
.img-wrap #scheme .cls-3 {
  fill: #868789;
}
.img-wrap #scheme .cls-2 {
  fill: #fff;
}
.img-wrap #scheme .cls-3,
.img-wrap #scheme .cls-4 {
  fill-rule: evenodd;
}
.img-wrap #scheme .cls-4 {
  fill: #8aa033;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 35px 0 100px;
  z-index: 2;
  background: #231f20;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px) {
  footer {
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 767px) {
  footer {
    position: relative;
    bottom: auto;
    left: auto;
    padding: 25px 0;
  }
}
footer .footer-box {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  footer .footer-box {
    flex-direction: column;
    align-items: flex-start;
  }
}
footer h5 {
  margin-right: 50px;
}
@media only screen and (max-width: 767px) {
  footer h5 {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
/*animations*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: .7s;
  animation-duration: .7s;
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.dash {
  -webkit-animation-name: dash;
  animation-name: dash;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes dash {
  to {
    opacity: 1;
    stroke-dashoffset: 0;
    stroke-dasharray: 3000;
  }
}
